<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text>
      <p>Olá, {{auth?.xPessoa}}</p>
    </ion-text>
  </div>
  <div class="ion-text-center">
    <ion-text class="ion-margin-end">
      <p>Meu saldo</p>
      <h2>{{saldo | currency}}</h2>
    </ion-text>
  </div>
  <ion-text class="ion-text-center ion-margin-start">
    <h2>Extrato</h2>
  </ion-text>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-text color="success">
          <p>Entrada</p>
          <h2>{{extratoPositivoNegativo?.outSaldoNegativo | currency}}</h2>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="danger">
          <p>Saída</p>
          <h2>{{extratoPositivoNegativo?.outSaldoPositivo | currency}}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
