<ion-content>
  <div class="ion-padding">
    <ion-text>
      <h1>Saquei</h1>
    </ion-text>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loading = true;getAccessToken()">
    <ion-item>
      <ion-label position="fixed">Login</ion-label>
      <ion-input name="login" formControlName="login" type="text" maxlength="120" required></ion-input>
      <ion-note *ngIf="login.invalid && (login.dirty || login.touched) && login.errors?.['required']" slot="error">Campo
        obrigatório</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Senha</ion-label>
      <ion-input id="password" name="password" formControlName="password" type="password" maxlength="120" required>
      </ion-input>
      <ion-note *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']"
        slot="error">Campo obrigatório</ion-note>
    </ion-item>
    <div class="ion-padding">
      <p class="ion-text-center" *ngIf="mensagem != ''">
        <ion-text color="danger">
          <ion-icon name="warning"></ion-icon> {{mensagem}}
        </ion-text>
      </p>
      <ion-button type="submit" expand="block" color="primary"
        [disabled]="loading || (loginForm.touched && loginForm.invalid)">{{!loading ? 'Entrar' : 'Entrando'}}
      </ion-button>
    </div>
  </form>
  <div class="ion-padding">
    <ion-text>
      <a href="https://jasaquei.com.br/" target="_blank">Precisa de ajuda?</a>
    </ion-text>
  </div>
</ion-content>