<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loading = true;login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <img src="assets/logo.svg" alt="Saquei" height="64">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed" color="primary">Login</ion-label>
            <ion-input name="xLogin" formControlName="xLogin" type="text" maxlength="120" required></ion-input>
            <ion-note *ngIf="xLogin.invalid && (xLogin.dirty || xLogin.touched) && xLogin.errors?.['required']"
              slot="error">Campo
              obrigatório</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="fixed" color="primary">Senha</ion-label>
            <ion-input id="password" name="password" formControlName="password" type="password" maxlength="120"
              required>
            </ion-input>
            <ion-note *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']"
              slot="error">Campo obrigatório</ion-note>
          </ion-item>
          <p class="ion-text-center" *ngIf="mensagem != ''">
            <ion-text color="danger">
              <ion-icon name="warning"></ion-icon> {{mensagem}}
            </ion-text>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary"
            [disabled]="loading || (loginForm.touched && loginForm.invalid)">{{!loading ? 'Entrar' : 'Entrando'}}
          </ion-button>
          <div class="ion-padding ion-text-center">
            <ion-text>
              <a href="https://jasaquei.com.br/" target="_blank">Precisa de ajuda?</a>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>